@model Notatki.PWR.Models.ListNotesViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista Notatek</h2>
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Tytuł</th>
        <th>Akcja</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var note in Model.Notes)
    {
        <tr>
            <td>@note.Id</td>
            <td>@note.Title</td>
            <td>
                @using (Html.BeginForm("Delete","Note",FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input name="id" value="@note.Id" type="hidden"/>
                    <button class="btn btn-danger" type="submit">
                        <span class="glyphicon glyphicon-trash"></span>Usuń
                    </button>
                }
                <a class="btn btn-default" href="@Url.Action("Edit",new { id = note.Id })">
                    <span class="glyphicon glyphicon-edit"></span>Popraw
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>